.background
{
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
    height: 70vh
}

.main-text
{
    color: white;
    font-size: 60px;
    text-align: center;
}

.absolute-container
{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.atlas-card
{
    height: 290px;
    width: 300px;
    margin:.7em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
    padding: none;
    overflow: hidden;
    padding: 25px;
}
.image-card
{
    height: 170px;

}