.body
{
    margin: 0 !important;
}
.card-container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.image-card
{
    height: 170px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.top-text 
{
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    font-size: 16px;
}
.atlas-card
{
    height: 290px;
    width: 23%;
    margin:.7em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
    padding: none;
    overflow: hidden;
}
.atlas-card:hover 
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.titulo-propiedades
{
    font:"Forma DJR Text Edu" medium 16px;
    color: #0048CD;
    text-align: left;
}
.space-between
{
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.corazon-right 
{
    position: absolute;
    top: 8px;
    right: 16px;
    height: 20px;
    cursor: pointer;
}
.share-right 
{
    position: absolute;
    top: 8px;
    right: 50px;
    height: 20px;
    cursor: pointer;
}
.search-icon
{
    position: absolute;
    background-image: url(./svg/search_icon.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    top: 8px;
    right: 0;
    outline: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color:transparent;
}
.search-icon:hover
{
    background-image: url(./svg/search_icon_blue.svg);
}
.container-filtros
{
    display: flex; 
    flex-flow: row nowrap;
    justify-content: center;
    position: fixed;
    z-index: 1;
    bottom: 25px;
    width: 100%;
}
.boton-mapa
{
    border: 2px solid #2680EB;
    border-right: none;
    width: 15%;
    height: 40px;
    background-color: white;
    color: #2680EB;
    text-align: center;
    font-size: 20px;
    font-family: inherit;
    bottom: 30px;
    border-radius: 12px 0 0 12px;
    transition: background-color 0.4s;
}
.boton-filtos
{
    border: 2px solid #2680EB;
    width: 15%;
    height: 40px;
    background-color: white;
    color: #2680EB;
    text-align: center;
    font-size: 20px;
    font-family: inherit;
    bottom: 30px;
    border-radius: 0 12px 12px 0;
    transition: background-color 0.4s;
}

.bcontainer
{
    justify-content: flex-start; 
    align-items: center;
}
.fcontainer
{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around; 
    align-items: center;
}
.filter-container
{
    justify-content: space-between; 
    align-items: center;
    flex-flow: row wrap;
}
.titulo-modalb
{
  text-align: center; 
  margin: 15px;
}
.boton-fv
{
    width: 45%;
    border: 2px solid #2680EB;
    height: 40px;
    background-color: white;
    color: #2680EB;
    text-align: center;
    font-size: 14px;
    font-family: inherit;
    border-radius: 8px;
    transition: background-color 0.4s;
    display: block;
    float:left;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    padding: 10px;
    margin: 20px 2.5% 20px 2.5%;
}


.bbotones
{
    justify-content: space-between; 
    flex-flow: row wrap;
}

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 0;
    background: #0894FE;
    border-radius: 50%;
    cursor: grabbing;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0;
    background: url('contrasticon.png');
    cursor: grabbing;
  }

.icono-filtros
{
  position: absolute;
  left: 40px;
  height: 30px;
  width: 30px;
  top: 2px;
}

  /* The container */
.checkbox {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 7px 0 7px 35px;
    margin: 12px 0;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox>input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    left: 0;
    height: 22px;
    width: 22px;
    border: 3px solid #3B5A80;
    border-radius: 3px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox:hover>input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox>input:checked ~ .checkmark {
    background-color: #0894FE;
    border: none;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox>input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.selectors
{
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border: none;
    background-color: #0894FE;
    border-radius: 50%;
    padding: 0;
    width: 35px;
    
}
.demo-selector
{
    width: 30px !important;
    padding: 10px !important;

    display: inline-block !important;
    border: none !important;
    background: white !important;

}
.container-filtros-especificos
{
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
  margin: 15px 0 15px 0;
  min-height: 50px;
  padding: 15px 15px 15px 15px;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.4s;
}
.lupita
{
  position: absolute;
  background-image: url(./svg/flecha.svg);
  background-repeat: no-repeat;
  height: 30px;
  width: 40px;
  top: 20px;
  left: 15px;
  outline: none;
  border: none;
  background-color:transparent;
}
.lupita::after
{
  -ms-transform: rotate(180deg); /* IE 9 */
  transform: rotate(180deg); /* Standard syntax */
}

/* -------------------------------- CLASES PARA LOS ACCORDIONES--------------------------------------------------*/
.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active-accordion, .accordion:hover {
  color: #0894FE;
  border-bottom: 2px solid #0894FE;
}

.accordion:after {
  content: '\002B';
  color:#0894FE;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active-accordion:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} 

@media screen and (max-width: 1135px)
{
    .atlas-card
    {
        width: 30%;
    }
}

@media screen and (max-width: 900px)
{
    .atlas-card
    {
        width: 40%;
    }
    .boton-mapa
    {  
    width: 25%;
    }
    .boton-filtos
    {  
    width: 25%;
    }

}
@media screen and (max-width: 750px)
{
    .atlas-card
    {
        width: 44%;
    }

}

@media screen and (max-width: 600px)
{
    .atlas-card
    {
        width: 70%;
        height: 350px;
    }
    .image-card
    {
    height: 200px;
    }
    .atlas-card
    {
    height: 320px;
    }
    .container-filtros
    {
    bottom: 0;
    }
    .boton-mapa
    {  
    width: 50%;
    border-radius: 0;
    bottom: 3px;
    height: 50px;
    }
    .boton-filtos
    {  
    width: 50%;
    border-radius: 0;
    bottom: 3px;
    height: 50px;
    }
}

@media screen and (max-width: 450px)
{
    .atlas-card
    {
        width: 90%;
        height: 350px;
    }
    .image-card
    {
    height: 200px;
    }
    .atlas-card
    {
    height: 315px;
    }
}

.mySlides, .mySlides1
{
    display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next 
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover 
{
  color:#0894FE;
  font-size: 20px;
}

/* Caption text */
.text-number {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next 
  {
    font-size: 11px
   }
}