.body
{
    margin: 0;
}
.card-container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.image-card
{
    height: 170px;
    width: 100%;
}
.top-text 
{
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    font-size: 14px;
}
.atlas-card
{
    height: 260px;
    width: 23%;
    margin:.7em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
    padding: none;
}
.atlas-card:hover 
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.titulo-propiedades
{
    font:"Forma DJR Text Edu" medium 16px;
    color: #0048CD;
    text-align: left;
}
.space-between
{
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.corazon-right 
{
    position: absolute;
    top: 8px;
    right: 16px;
    cursor: pointer;
}
.share-right 
{
    position: absolute;
    top: 8px;
    right: 45px;
    cursor: pointer;
}

@media screen and (max-width: 1050px)
{
    .atlas-card
    {
        width: 30%;
    }
    .card-container
    {
    justify-content: center;
    }
}

@media screen and (max-width: 900px)
{
    .atlas-card
    {
        width: 40%;
    }

}
@media screen and (max-width: 750px)
{
    .atlas-card
    {
        width: 44%;
    }

}

@media screen and (max-width: 550px)
{
    .atlas-card
    {
        width: 70%;
        height: 350px;
    }
    .image-card
    {
    height: 200px;

    }
}

@media screen and (max-width: 450px)
{
    .atlas-card
    {
        width: 90%;
        height: 350px;
    }
    .image-card
    {
    height: 200px;

    }
}