.body
{
    margin: 0;
}
.card-container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

}
.image-card
{
    height: 60%;
    width: 100%;
}
.top-text 
{
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    font-size: 1em;
}
.atlas-card
{
    height: 280px;
    width: 30%;
    margin:.7em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
    padding: none;
}
.atlas-card:hover 
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 685px)
{
    .atlas-card
    {
        width: 40%;
    }
}

@media screen and (max-width: 460px)
{
    .atlas-card
    {
        width: 90%;
        height: 350px;
    }
}