/* --------------------------------------------------- declaraciones generales -------------------------------------------------- */

body
{
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
html 
{
    box-sizing: border-box !important;
    font-family: "Forma DJR Text Edu"!important;
    font-size: 16px;
}
  *, *:before, *:after 
{
    box-sizing: inherit !important;
}
::-webkit-scrollbar {
    width: 15px;
  }
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}
button:hover
{
    cursor: pointer;
}

input
{
    border: none;
    outline: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    white-space: pre;
    text-align: left;
    cursor: pointer;
    color: #081C33;
    background-color:white;
    box-sizing: inherit;
    font-size: 16px;
    font-family: inherit;
}
button
{
  border: none;
  outline: none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
button:active
{
background-color:white;
background-size: 100%;
transition: background-color 0s;
border: none;
outline: none;
}

select
{
    font-size: 16px;
    display: block;
    width: 80%;
    margin: auto;
    padding: 7px;
    border: 2px solid #0894FE;
    border-radius: 5px;
    box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.07);
    font-family: "Forma DJR Text Edu";
    background-color: white;
    color: none;

    /*quitar default settings*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
  
  select.minimal:focus {
    background-image:
      linear-gradient(45deg, green 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, green 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  
option
{
    font-family: "Forma DJR Text Edu";
    padding: 8px 2px 1px;
}
input:checked
{
    color: #0894FE;
}


/* ----------------------------------------------------- titulos, textos y fonts ------------------------------------------------------------------ */
@font-face 
{
    font-family: "FormaDJRText";
    src: url(https://atlas-home-colombia.s3.amazonaws.com/fonts/fonts.css);
}
.text
{
    font-family:"Forma DJR Text Edu";
    color: #6F7A88;
}
.title
{
    margin-top: 50px ;
    color:#0894FE;
    font-size:2em;
    font-weight:bold;
    display: block;
}
.subtitles
{
    color:#0894FE;
    font-weight:bold;
    display: block;

}
/* diseño de columnas y layout */
.flex-container
{
    display: flex;
    flex-flow: row wrap;
}
.flex-centrar
{
    justify-content: space-between;
    align-items: center;
}
.row:after 
{
    content: "";
    display: table;
    clear: both;
}
.column-left
{
    float: left;
    width: 49.99%;
    padding: 15px;
    height:auto;
    display: block;
}
.column-50
{
    width: 49.99%;
    float: right;
    margin: auto;
}
.column-33
{
    width: 33.33%;
    float: left;
    margin: auto;
}
.clearfix::after 
{
    content: "";
    clear: both;
    display: table;
}
.flex-box
{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

/* footer */

.footer
{
    height: 250px;
    width: 100%;
    border-top: 5px solid #F2F2F2;
}
.footer-img
{
    background-image: url(./svg/city2.svg);
    background-color: transparent;
    height: 250px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.footer-logo
{
    display: block;
    width: auto;
    height: 80px;
    padding-top: 10px;
    margin: auto;
}
.fa
{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 3px;
    background-color: #fff;
    color: #0f4aa2;
    font-size: 30px;
    text-decoration: none;
    margin:0;
}
a
{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
li
{
    list-style-type: none;
    display: inline-block;
    border: 1.5px solid  #0f4aa2;
    margin: 5px 7px;
}
.fa:hover {
    opacity: 0.7;
    color: #2680EB;
}
.footer-ul
{
    padding-left: 0;
}


/* -------------------------------------------------------------INCIO DE NAVBAR -------------------------------------------------------*/

.topnav 
{
    overflow: hidden;
    background-color:white;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 80px;
    z-index: 1;
  }
  
  .topnav>a 
  {
    float: right;
    display: block;
    color:#707070;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 16px;
  }
  .topnav .icon 
  {
    display: none;
    position: absolute;
  }
  
  .dropdown 
  {
    float: right;
    overflow:visible;
  }
  .dropdown .dropbtn 
  {
    font-size: 16px;    
    border: none;
    outline: none;
    color:#707070;    
    padding: 20px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content 
  {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  .dropdown-content>a 
  {
    float: none;
    color: #6F7A88;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 2px solid rgba(156, 156, 156, 0.219);
  }

  .dropdown-content a:hover 
  {
    background-color: rgba(156, 156, 156, 0.151);
    color:#0048CD;
  }
  
  .dropdown:hover .dropdown-content 
  {
    display: block;
  }
  .topnav>a:hover, .dropdown:hover .dropbtn {
    color: #0894FE;
  }

#logo-navbar
{
  width: 110px;
  padding:0;
  position: absolute;
  top: 20px;
  left: 18px;
}
.column-25
{
    float: left;
    margin: auto;
    display: inline-block;
}
.column-85
{
    width: 85%;
    float: right;
    margin-top: 10px;
    display: inline-block;
}
.boton-ingresar
{
    color: #0894FE;
    background-color: white;
    border: #0894FE solid 1px;
    padding: 4px 8px;
    border-radius: 5px;
    display: block;
    width: 150px;
    height: 40px;
    font-size:16px;
    transition: background-color 0.4s;
    outline: none;
    margin: 8px 10px;
    float: right;
}

.boton-registro
{
    color: white;
    background-color: #2680EB;
    border: #0894FE solid 1px;
    padding: 4px 8px;
    border-radius: 5px;
    display: block;
    width: 150px;
    height: 40px;
    font-size:16px;
    transition: background-color 0.4s;
    outline: none;
    margin: 8px 10px;
    float: right;
}

  /* When the screen is less than 1015 pixels wide, hide all links, except for the first one ("lOGO"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1015px) 
{
    .topnav>a:not(:first-child), .dropdown .dropbtn 
    {
      display: none;
    }
    .topnav a.icon 
    {
      float: right;
      display: block;
      color:#0894FE;
      right: 18px;
      top: 18px;
    }
    .topnav img
    {
        display: block;
    }
    .boton-ingresar 
    {
        display: none;
    }
    .boton-registro
    {
        display: none;
    }

}
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 1015px) 
{
    .topnav.responsive 
    {
        padding-top: 90px;
    }
    .topnav.responsive>a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none; clear: both;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn 
    {
      display: block;
      width: 100%;
      text-align: left;
      left: 0;
      right: 0;
      border-bottom: 2px solid rgba(156, 156, 156, 0.219);
      clear: both;
    }

    .column-85
    {
    width: 100%;
    clear: both;
    margin: 0;
    display: inline-block;
    }
    .topnav.responsive .boton-ingresar 
    {
        display: inline-block;
        width: 41%;
        float: left;
        margin-left: 4%;
    }
    .topnav.responsive .boton-registro
    {
        display: inline-block;
        width: 41%;
        float: left;
        margin-left: 6%;
    }
}


/* clases complementarias de los modals*/

.text-modal
{
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 15px auto;
}
  .submit-boton
  {
      display: block;
      font-size: 16px;
      background-color: #2680EB;
      padding: 10px 15px;
      color: white;
      border-radius: 8px;
      border-color: #2680EB;
      width: 80%;
      outline: none;
      text-align: center !important;
      border: none;
  }
  .bottom-text
  {
      position: absolute;
      text-align: center;
      font-size: 16px;
  }
  .relative-container
  {
      position: relative;
  }


/* ---------------------------------------------- INICIO DE MODAL BUSQUEDA DE PROPIEDADES ------------------------------------------------------------*/
.modal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: +2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding: 40px;
    overflow: hidden;
    animation: fadeEffect 0.5s; /* Fading effect takes 1 second */
    margin: 0;
}
  
  /* Modal Content */

  .modal-content 
{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 2px solid #0894FE;
    border-radius: 10px;
    width: 45%;
    z-index: +3;
}
.overflow
{
    max-height: 100%;
    overflow-y: auto !important;
    overflow-x: none;
}
  
  /* The Close Button */
  .close 
{
    color: white;
    float: right;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #0894FE;
    background-color: #0894FE;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -35px;
    right:-35px;
}
  
  .close:hover,
  .close:focus {
    background-color: #CC5F54;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }
  .titulo-modal
  {
    text-align: center; 
    border-bottom: 2px solid rgba(156, 156, 156, 0.219);
    padding-bottom: 7px;
    margin: 15px 10%;
  }

  /* ------------------------------------------------- DECLARACIONES PARA LOS INPUT GENERALES ---------------------------------------*/
  
input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], textarea
{
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: block;
    border: 2px solid #99A2AB;
    background: white;
    border-radius: 7px;
}
input[type=number]:focus
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=tel]:focus, textarea:focus{
    border-color: #0894FE;
    outline: none;
  }
textarea
{
    resize: none;
}


/* --------------------------------------------------------- MODAL DE REGISTRO -------------------------------------------------------------*/

.multitab
{
    color: #6F7A88;
    border: 3px solid #6F7A88;
    display: block;
    text-align: center;
    width: 45%;
    margin-top: 0;
    float:left;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    padding: 10px;
    margin: 0 2.5% 0 2.5%;
}
.multitab:hover
{
    color: #2680EB;
    border: 3px solid #2680EB;
}
.multitab.active
{
    color: #2680EB;
    border: 3px solid #2680EB;
}
.tabcontent 
{
    display: none;
    animation: fadeEffect 0.5s; /* Fading effect takes 1 second */
}
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
.topright
{
    float: right;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    color: white;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #0894FE;
    background-color: #0894FE;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    right: 27.7%;
    top: 3.5%;
}
  
.topright:hover,
.topright:focus {
  background-color: #CC5F54;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.btn-social-login {
    width: 100%;
    padding: 10px;
    border: 3px solid #C4C9CE;
    border-radius: 8px;
    margin: 10px 0;
    display: inline-block;
    font-size: 16px;
    text-decoration: none; /* remove underline from anchors */
    text-align: center;
  }
.btn-social-login:hover
{
   border-color: #425163;
}
.fb-icon
  {
    background: url(./svg/facebook-icon.svg);
    background-repeat: no-repeat;
    background-position:10px 5px;
  }
  .google-icon
  {
    background: url(./svg/google-icon.svg);
    background-repeat: no-repeat;
    background-position:10px 5px;
  }
  .gps-icon
  {
    background: url(./svg/pin_gps.svg);
    background-repeat: no-repeat;
    background-position:10px 5px;
  }

/* Clases para el Modal de Solicitud de credito */
.tab 
{
    display: none;
}
.tab1 
{
    display: none;
}
input.invalid 
{
    background-color: #ffdddd;
}
.cr-container
{
    width: 100%; 
    background-color:#F2F2F2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.cr-boton
{
    width: 48%;
    display: inline-block;
}
.cr-titulo
{
  text-align: center; 
  border-bottom: 2px solid rgba(156, 156, 156, 0.219);
  padding-bottom: 7px;
  margin: auto;
  background-color: white;
  z-index: 1;
  display: block;
}
.step 
{
    height: 10px;
    width: 6.5%;
    margin: 0 1px;
    background-color: #bbbbbb;
    border: none;
    display: inline-block;
    opacity: 0.5;
}
.step1 
{
    height: 10px;
    width: 6.5%;
    margin: 0 1px;
    background-color: #bbbbbb;
    border: none;
    display: inline-block;
    opacity: 0.5;
}
#prevBtn 
{
    background-color: #bbbbbb;
    border: none;
}
#prevBtn1
{
    background-color: #bbbbbb;
    border: none;
}
  /* Mark the active step: */
  .step.active {
    background-color: #0894FE;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #0894FE;
  }
    /* Mark the active step: */
    .step1.active {
        background-color: #0894FE;
      }
      
      /* Mark the steps that are finished and valid: */
      .step1.finish {
        background-color: #0894FE;
      }
/* Debajo de los modals */


@media screen and (max-width:880px)
{
    .modal-content 
    {
        width: 90%;
    }
    .topright
    {
    right: 7.5%;
    }
}
@media screen and (max-width:450px)
{
    .inmueble-selector
    {
        justify-content: space-around;
    }
    .modal-content
    {
        width: 100%;
    }
    .modal
    {
        padding: 0px;
    }
    .modal-content
    {
        border-radius: 0;
    }
    .topright
    {
    right: 7%;
    top: 4%;
    }
}