
/* declaraciones generales */

body
{
    margin: 0 8%;
}
html 
{
    box-sizing: border-box;
    font-family: "Forma DJR Text Edu";
}
  *, *:before, *:after 
{
    box-sizing: inherit;
}
::-webkit-scrollbar {
    width: 15px;
  }
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}
/* -------------------------------------------------------------INCIO DE NAVBAR -------------------------------------------------------*/
.topnav 
{
    overflow: hidden;
    background-color:white;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 80px;
  }
  
  .topnav a 
  {
    float: right;
    display: block;
    color:#707070;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 16px;
    vertical-align: middle;
  }
  .topnav .icon 
  {
    display: none;
    position: absolute;
    right: 0;
    top: 6px;
  }
  
  .dropdown 
  {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn 
  {
    font-size: 16px;    
    border: none;
    outline: none;
    color:#707070;    
    padding: 20px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content 
  {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a 
  {
    float: none;
    color: #6F7A88;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 2px solid rgba(156, 156, 156, 0.219);
  }

  .dropdown-content a:hover 
  {
    background-color: rgba(156, 156, 156, 0.151);
    color:#0048CD;
  }
  
  .dropdown:hover .dropdown-content 
  {
    display: block;
  }
  .topnav a:hover, .dropdown:hover .dropbtn {
    color: #0894FE;
  }

#logo-navbar
{
  width: 110px;
  padding:0;
}
.column-25
{
    float: left;
    margin: auto;
    display: inline-block;
}
.column-85
{
    width: 85%;
    float: right;
    margin-top: 10px;
    display: inline-block;
}
.boton-ingresar
{
    color: #0894FE;
    background-color: white;
    border: #0894FE solid 1px;
    padding: 4px 8px;
    border-radius: 5px;
    display: block;
    width: 150px;
    height: 40px;
    font-size:16px;
    transition: background-color 0.4s;
    outline: none;
    margin: 8px 10px;
    float: right;
}

.boton-registro
{
    color: white;
    background-color: #2680EB;
    border: #0894FE solid 1px;
    padding: 4px 8px;
    border-radius: 5px;
    display: block;
    width: 150px;
    height: 40px;
    font-size:16px;
    transition: background-color 0.4s;
    outline: none;
    margin: 8px 10px;
    float: right;
}
button:hover
{
    cursor: pointer;
}
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("lOGO"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1015px) 
{
    .topnav a:not(:first-child), .dropdown .dropbtn 
    {
      display: none;
    }
    .topnav a.icon 
    {
      float: right;
      display: block;
      color:#0894FE;
    }
    .topnav img
    {
        display: block;
    }
    #logo-navbar
    {
        display: block;
        position: absolute;
        top: 25px;
    }
    .boton-ingresar 
    {
        display: none;
    }
    .boton-registro
    {
        display: none;
    }
    button:active
    {
    background-color:white;
    background-size: 100%;
    transition: background-color 0s;
    border: #0894FE solid 1px;
    }
}
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 1015px) 
{
    .topnav.responsive 
    {
        padding-top: 40px;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 6px;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none; clear: both;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn 
    {
      display: block;
      width: 100%;
      text-align: left;
      left: 0;
      right: 0;
      border-bottom: 2px solid rgba(156, 156, 156, 0.219);
      clear: both;
    }

    .column-85
    {
    width: 100%;
    clear: both;
    margin: 0;
    display: inline-block;
    }
    .topnav.responsive .boton-ingresar 
    {
        display: inline-block;
        width: 41%;
        float: left;
        margin-left: 4%;
    }
    .topnav.responsive .boton-registro
    {
        display: inline-block;
        width: 41%;
        float: left;
        margin-left: 6%;
    }
}
/* ---------------------------------------------- INICIO DE MODAL BUSQUEDA DE PROPIEDADES ------------------------------------------------------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 2px solid #0894FE;
    border-radius: 10px;
    width: 40%;
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #0894FE;
    background-color: #0894FE;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .titulo-modal
  {
    text-align: center; 
    border-bottom: 2px solid rgba(156, 156, 156, 0.219);
    padding: 5px;
  }

  /* Iconos del Search Modal */

  .cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.vivienda{background-image:url(./svg/vivienda-icon.svg);}
.apartamento{background-image:url(./svg/apartamento-icon.svg);}

.cc-selector input:active +.icon-cc{}
.cc-selector input:checked +.icon-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
            fill: #0894FE;
}
.icon-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:100px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
}
.icon-cc:hover{
    fill: #0894FE;
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

@media screen and (max-width:750px)
{
    .modal-content 
    {
        width: 80%;
    }
}
/* ----------------------------------------------------- titulos, textos y fonts ------------------------------------------------------------------ */
@font-face 
{
    font-family: "FormaDJRText";
    src: url(https://atlas-home-colombia.s3.amazonaws.com/fonts/fonts.css);
}
.text
{
    font-family:"Forma DJR Text Edu";
    color: #6F7A88;
}
.title
{
    margin-top: 50px ;
    color:#0894FE;
    font-size:2em;
    font-weight:bold;
    display: block;
}
.subtitles
{
    margin-top: 50px ;
    color:#0894FE;
    font-size:1em;
    font-weight:bold;
    display: block;
}
/* diseño de columnas y layout */
.flex-container
{
    display: flex;
    flex-flow: row wrap;
}
.row:after 
{
    content: "";
    display: table;
    clear: both;
}
.column-left
{
    float: left;
    width: 49.99%;
    padding: 15px;
    height:auto;
    display: block;
}
.column-50
{
    width: 49.99%;
    float: right;
    margin: auto;
}
.column-33
{
    width: 33.33%;
    float: left;
    margin: auto;
}
.clearfix::after 
{
    content: "";
    clear: both;
    display: table;
}
.flex-box
{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

/* declaraciones de iconos */

.icon-lp
{
    width: 90%;
    height: auto;
    margin-top: 50px;
    display: block;
    margin: auto;
}
.icon-v
{
    max-height: 400px;
}
.boton-landing
{
    background: white ;
    color:#0894FE;
    border: #0894FE solid 1px;
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
    width: 350px;
    height: 60px;
    margin: 30px auto 30px auto;
    font-size:15px;
    transition: background-color 0.4s;
    outline: none;
}
.triangulo-decor
{
    position: absolute;
    padding-top: 0px;
    width: 20%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    max-width: 100%;
    z-index: -1;
}

/* declaraciones de botones */

.boton-landing:hover
{
    background-color: #2680EB;
    color: white;
    cursor: pointer;
    font-size: 17px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active
{
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background-color 0s;
    border: #0894FE solid 1px;
}

/* testimonios */
.box
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(133, 133, 133, 0.19);
    box-shadow: 5px grey;
    display: block;
    background-color: white;
    width: auto;
    text-align: left;
    margin: 20px 0% 20px 0%;
    padding: 10px 20px 40px 20px;
    border-radius: 5px;
}
.img
{
    float: left;
    padding-right: 5px;
    height: 100px;
    width: 100px;
}
.box::after 
{
    content: "";
    clear: both;
    display: table;
}
.figcaption
{
    font:"Forma DJR Text Edu" medium 12px;
    color: #0894FE;
    margin-top: 15px;
    text-align: left;
}

/* footer */

.footer
{
    height: 250px;
    width: 100%;
    border-top: 5px solid #2680EB;
}
.footer-img
{
    background-image: url(./svg/city2.svg);
    background-color: transparent;
    height: 250px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.footer-logo
{
    display: block;
    width: auto;
    height: 80px;
    padding-top: 10px;
    margin: auto;
}
.fa
{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 3px;
    background-color: #fff;
    color: #0f4aa2;
    font-size: 30px;
    text-decoration: none;
    margin:0;
}
a
{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
li
{
    list-style-type: none;
    display: inline-block;
    border: 3px solid  #0f4aa2;
    margin: 5px 7px;
    border-radius: 7px;
}
.fa:hover {
    opacity: 0.7;
    color: #2680EB;
    border: #2680EB;
}
.footer-ul
{
    padding-left: 0;
}

/* ----- INICIO DE RESPONSIVE DESIGN------*/

/*diseño para ipads*/

@media only screen and (max-width: 800px) 
{
    .caja 
    {
        text-align: center;
    }
    .img
     {
        margin: auto;
        float: none;
        display: block;
    }
    .figcaption
    {
        text-align: center;
    }
    .icon-lp
    {
        height: auto;
        display: block;
        margin:auto;
        float: none;
    }
    .row:after 
    {
        content: "";
        display: table;
        clear: both;
    }
    .boton-landing
    {
        width: 250px;
        height: 60px;
    }
    .title
    {
        font-size:1.3em;
    }
    .icon-v
    {
        height: 300px;
    }
    .icon-i
    {
        padding-top: 40%;
    }
    .text
    {
        text-align: center;
    }
}

/*diseño para moviles*/

@media only screen and (max-width: 700px) 
{
    .column-50
    {
        width: 100%;
        float: none;
        margin: auto;
        overflow: hidden;
        padding: 15px;
        height:auto;
        display: block;
    }
    .column-left
    {
        float: none;
        width: 100%;
        padding: 15px;
        height:auto;
        display: block;
    }
    .boton-landing
    {
        width: 100%;
    }
    .icon-i
    {
        padding-top: 10px;
    }
    .triangulo-decor
    {
        width: 40%;
    }
}