
body
{
    margin: 0 8%;
}

/* ---------------------------------------------- INICIO DE MODAL BUSQUEDA DE PROPIEDADES ------------------------------------------------------------*/
.modal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: +2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding: 40px;
    overflow: hidden;
    animation: fadeEffect 0.5s; /* Fading effect takes 1 second */
    margin: 0;
}
  
  /* Modal Content */

  .modal-content 
{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 45%;
    z-index: +3;
}
.overflow
{
    max-height: 100%;
    overflow-y: auto !important;
}
  
  /* The Close Button */
  .close 
{
    color: white;
    float: right;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #0894FE;
    background-color: #0894FE;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -35px;
    right:-35px;
}
  
  .close:hover,
  .close:focus {
    background-color: #CC5F54;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }
  .titulo-modal
  {
    text-align: center; 
    border-bottom: 2px solid rgba(156, 156, 156, 0.219);
    padding-bottom: 7px;
    margin: 15px 10%;
  }


  /*-------------------------------------------------------------- Clases del SEARCH Modal------------------------------------------- */

  .inmueble-selector
  {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
  }
    .inmueble-selector input
    {
      margin:0;padding:0;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
    }
  
  .vivienda
  {
      background-image:url(./svg/vivienda-icon-azul.svg);
  }
  .apartamento
  {
      background-image:url(./svg/apartamento-icon-azul.svg);
  }
  .terreno
  {
      background-image:url(./svg/terreno-icon-azul.svg);
  }
  
  .inmueble-selector input:active + .drinkcard-cc
  {
      opacity:none;
  }
  .inmueble-selector input:checked + .drinkcard-cc
  {
      -webkit-filter: none;
         -moz-filter: none;
              filter: none;
              color:#0048CD;
  }
  .drinkcard-cc
  {
      cursor:pointer;
      background-size:contain;
      background-repeat:no-repeat;
      display:inline-block;
      width:90px;height:80px;
      color: inherit;
      -webkit-transition: all 100ms ease-in;
         -moz-transition: all 100ms ease-in;
              transition: all 100ms ease-in;
              -webkit-filter: brightness(1) grayscale(1) opacity(1);
              -moz-filter: brightness(1) grayscale(1) opacity(1);
                   filter: brightness(1) grayscale(1) opacity(1);
  }
  .drinkcard-cc:hover
  {
      -webkit-filter: none;
         -moz-filter: none;
              filter: none;
              width:93px;height:83px;
              color:#0048CD;
  }
  
  /* correciones del search modal */
  
  .correcion
  {
      left: 16px;
      bottom: -110px;
  }
  .correcion-a
  {
      bottom: -110px;
  }


@media screen and (max-width:880px)
{
    .modal-content 
    {
        width: 90%;
    }
    .correcion
    {
    left: 16px;
    bottom: -100px;
    }
    .correcion-a
    {
    bottom: -100px;
    }
    .selects-50
    {
    float: none; 
    width: 100%;
    margin: none;
    }
    .selects-50-right
    {
    float: none; 
    width: 100%;
    }
    .topright
    {
    right: 7.5%;
    }
}
@media screen and (max-width:450px)
{
    .drinkcard-cc
    {
        width: 80px;
        height: 70px;
    }
    .inmueble-selector
    {
        justify-content: space-around;
    }
    .modal-content
    {
        width: 100%;
    }
    .modal
    {
        padding: 0px;
    }
    .modal-content
    {
        border-radius: 0;
    }
    .topright
    {
    right: 7%;
    top: 4%;
    }
}
@media screen and (max-width:365px)
{
    .inmueble-selector
    {
        flex-direction: column;
    }
    .drinkcard-cc
    {
        margin-top: 30px;
    }
    .bottom-text
    {
        bottom: -105px;
    }
}

/* ----------------------------------------------------- titulos, textos y fonts ------------------------------------------------------------------ */
@font-face 
{
    font-family: "FormaDJRText";
    src: url(https://atlas-home-colombia.s3.amazonaws.com/fonts/fonts.css);
}
.text
{
    font-family:"Forma DJR Text Edu";
    color: #6F7A88;
}
.title
{
    margin-top: 50px ;
    color:#0894FE;
    font-size:2em;
    font-weight:bold;
    display: block;
}
.subtitles
{
    color:#0894FE;
    font-weight:bold;
    display: block;

}
/* diseño de columnas y layout */
.flex-container
{
    display: flex;
    flex-flow: row wrap;
}
.flex-centrar
{
    justify-content: space-between;
    align-items: center;
}
.row:after 
{
    content: "";
    display: table;
    clear: both;
}
.column-left
{
    float: left;
    width: 49.99%;
    padding: 15px;
    height:auto;
    display: block;
}
.column-50
{
    width: 49.99%;
    float: right;
    margin: auto;
}
.column-33
{
    width: 33.33%;
    float: left;
    margin: auto;
}
.clearfix::after 
{
    content: "";
    clear: both;
    display: table;
}
.flex-box
{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

/* declaraciones de iconos */

.icon-lp
{
    width: 90%;
    height: auto;
    margin-top: 50px;
    display: block;
    margin: auto;
}
.icon-v
{
    max-height: 400px;
}
.boton-landing
{
    background: white ;
    color:#0894FE;
    border: #0894FE solid 1px;
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
    width: 350px;
    height: 60px;
    margin: 30px auto 30px auto;
    font-size:15px;
    transition: background-color 0.4s;
    outline: none;
}
.triangulo-decor
{
    position: absolute;
    padding-top: 0px;
    width: 20%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    max-width: 100%;
    z-index: -1;
}

/* declaraciones de botones */

.boton-landing:hover
{
    background-color: #2680EB;
    color: white;
    cursor: pointer;
    font-size: 17px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active
{
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background-color 0s;
    border: #0894FE solid 1px;
}

/* testimonios */
.box
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(133, 133, 133, 0.19);
    box-shadow: 5px grey;
    display: block;
    background-color: white;
    width: auto;
    text-align: left;
    margin: 20px 0% 20px 0%;
    padding: 10px 20px 40px 20px;
    border-radius: 5px;
}
.img
{
    float: left;
    padding-right: 5px;
    height: 100px;
    width: 100px;
}
.box::after 
{
    content: "";
    clear: both;
    display: table;
}
.figcaption
{
    font:"Forma DJR Text Edu" medium 12px;
    color: #0894FE;
    margin-top: 15px;
    text-align: left;
}

/*----------- CSS PARA STEP FORMS ------------*/

/* Styling Parts */
#part1,
#part2,
#part3,
#part4,
#part5 {
  z-index: 2;
  display: block;
  height: auto;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/* Hidden Parts */
#part2,
#part3,
#part4,
#part5
 {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

/* Show Step 2 & Hide Step 1 */
#step2:checked ~ #part2 {
  opacity: 1;
  height: auto;
}
#step2:checked ~ #part1 {
  opacity: 0;
  height: 0;
  display: none;
}

/* Show Step 3  & Hide Step 2 */
#step3:checked ~ #part3 {
  opacity: 1;
  height: auto;
}
#step3:checked ~ #part2 {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Show Step 4  & Hide Step 3 */
#step4:checked ~ #part4 {
    opacity: 1;
    height: auto;
  }
  #step4:checked ~ #part3 {
    opacity: 0;
    width: 0;
    height: 0;
  }

/* Show Step 5  & Hide Step 4 */
#step5:checked ~ #part5 {
    opacity: 1;
    height: auto;
  }
#step5:checked ~ #part4 {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input[type=checkbox] 
  {
  
    position: absolute;
    /* Position the checkbox in upper left corner */
  
    opacity: 0;
  }

/* ----- INICIO DE RESPONSIVE DESIGN------*/

/*diseño para ipads*/

@media only screen and (max-width: 800px) 
{
    .caja 
    {
        text-align: center;
    }
    .img
     {
        margin: auto;
        float: none;
        display: block;
    }
    .figcaption
    {
        text-align: center;
    }
    .icon-lp
    {
        height: auto;
        display: block;
        margin:auto;
        float: none;
    }
    .row:after 
    {
        content: "";
        display: table;
        clear: both;
    }
    .boton-landing
    {
        width: 250px;
        height: 60px;
    }
    .title
    {
        font-size:1.3em;
    }
    .icon-v
    {
        height: 300px;
    }
    .icon-i
    {
        padding-top: 40%;
    }
    .text
    {
        text-align: center;
    }
}

/*diseño para moviles*/

@media only screen and (max-width: 700px) 
{
    .column-50
    {
        width: 100%;
        float: none;
        margin: auto;
        overflow: hidden;
        padding: 15px;
        height:auto;
        display: block;
    }
    .column-left
    {
        float: none;
        width: 100%;
        padding: 15px;
        height:auto;
        display: block;
    }
    .boton-landing
    {
        width: 100%;
    }
    .icon-i
    {
        padding-top: 10px;
    }
    .triangulo-decor
    {
        width: 40%;
    }
}

/* footer */

.footer
{
    height: 250px;
    width: 100%;
    border-top: 5px solid #F2F2F2;
}
.footer-img
{
    background-image: url(./svg/city2.svg);
    background-color: transparent;
    height: 250px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.footer-logo
{
    display: block;
    width: auto;
    height: 80px;
    padding-top: 10px;
    margin: auto;
}
.fa
{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 3px;
    background-color: #fff;
    color: #0f4aa2;
    font-size: 30px;
    text-decoration: none;
    margin:0;
}
a
{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
li
{
    list-style-type: none;
    display: inline-block;
    border: 1.5px solid  #0f4aa2;
    margin: 5px 7px;
}
.fa:hover {
    opacity: 0.7;
    color: #2680EB;
}
.footer-ul
{
    padding-left: 0;
}

button:active
{
background-color:white;
background-size: 100%;
transition: background-color 0s;
border: none;
outline: none;
}