.body
{
    margin: 0 !important;
    box-sizing: border-box !important;
}
.titulo-inmueble
{
    min-height: 80px;
    width: 90%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 10px 20px 10px 30px;
    overflow: hidden;
    border: 1px solid #0894FE;
}

.titulo-inmueble>h2
{
    margin: 5px 0 5px 0;
}
.titulo-propiedades
{
    font:"Forma DJR Text Edu" medium ;
    color: #0048CD;
    text-align: left;
}
.space-between
{
    justify-content: space-between;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-flow: row wrap;
    align-items: center;
}
.text-t
{
    font-family:"Forma DJR Text Edu";
    color: #6F7A88;
    font-size: 16px;
    padding: 5px;
}

/*------------------------------ MEDIA TABS -----------------------------------------*/


.carousel-tabs 
{
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel-tabs::-webkit-scrollbar 
{
  height: 0;
}
.content-tabs 
{
  display: flex; 
  display: -webkit-flex; /* Safari */
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}


.tablinks-container
{
  width: 100%; 
  height: 70px;
  margin: 0px 0 50px 0;
  display: flex; 
  display: -webkit-flex; /* Safari */
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.medialink 
{
  color: #2680EB;
  border: 1px solid #2680EB;
  background-color: white;
  outline: none;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 16px;
  min-width: 140px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  margin: 0 5px;
}
  
.medialink:hover 
  {
    cursor: pointer;
    color: white;
    background-color:  #0894FE;
  }
.medialink.active
{
    color: white;
    background-color: #0894FE;
    height: 70px;
}

/* ------- columnas para responsive design ------*/

.left-column
{
  width: 55%;
  margin: 10px 0 0 5%; 

}
.right-column
{
  width:32.5%;
  margin: 30px 5% 0 2.5%;
  height: auto;
  float: right;
}

/* ------------- contenedores --------------------*/
  .general-media-container
  {
    width: 100%; 
    height: 370px;
    margin: 10px 0 50px 0; 
  }
  .second-container
  {
    height: 370px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
    float: right;
    width:32.5%;
    margin: 0px 5% 0 2.5%;
  }
  .sticky
  {
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
  }
  .mediacontent 
  {
    display: none;
    padding: none;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 20px;
  }

/*----------------- IMG MEDIA CLASSES------------------------*/

  /* FOTOS container */

.imgSlides
{
    display: none;
}
.fotos
{
    width: 100%;
    height: 370px;
    object-fit: cover;
    vertical-align: middle;
}
/* Next & previous buttons */
.anterior, .siguiente {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .siguiente {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .anterior:hover, .siguiente:hover {
    background-color: rgba(0,0,0,0.8);
  }
 
  .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color:white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dot-container
  {
  text-align:center; 
  position:absolute; 
  bottom: 3px; 
  width: 100%;
  align-items: center;
  }
  .dotactive, .dot:hover {
    background-color: #0894FE;
    height: 15px;
    width: 15px;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/* ------------ iframe para tour virtuales -------------------*/

  .embed-responsive
  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  /*-------- Clases de container call to action -------*/

  .proyecto
  {
    border: none;
    width: 100%;
    height: 110px;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: flex-start;
    padding: 10px 10px;
  }

  .logo-proyecto
  {
    border-radius: 50%;
    border: 1px solid #0894FE;
    height: 90px;
    width: 90px;
    margin-right: 15px;
  }

  .checked {
    color: #0894FE;
  }
  .boton-cita
  {
    width: 100%;
    text-align: center;
    background-color:#0894FE;
    color: white;
    height: 50px;
    border-radius: 8px;
    font-size: 18px;
    margin: 10px 0 ;
  }
  .boton-credito
  {
    border: 1px solid #0894FE;
    background-color: white;
    width: 100%;
    text-align: center;
    color: #0894FE;
    height: 50px;
    border-radius: 8px;
    font-size: 18px;
    margin: 10px 0;
  }


/*----------Clases de los accordiones ----------*/
.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  margin-bottom: 1px;
}

.active-accordion, .accordion:hover 
{
  color: #0894FE;
  border-bottom: 1px solid #0894FE;
}

.accordion:after {
  content: '\002B';
  color:#0894FE;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active-accordion:after {
  content: "\2212";
}

.panel {
  padding: 0 20px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
} 


/*----------Clases de los accordiones hijos ----------*/
.child-accordion {
  background-color: transparent;
  color:#6F7A88;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-bottom: 2px solid  #F2F2F2;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active-child-accordion, .child-accordion:hover 
{
  color: #0894FE;
  border-bottom: 1px solid #0894FE;
}

.child-accordion:after {
  content: '\002B';
  color:#99A2AB;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active-child-accordion:after {
  content: "\2212";
}

.child-panel {
  padding: 0 20px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

} 

.checkbox {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 12px 0;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.icono-filtros
{
  position: absolute;
  left: 10px;
  height: 30px;
  width: 30px;
  top: -6px;
}

/*------ CHANCHUYO XD-------------*/
.caracteristicas
{
  border: 1px solid #6f7a8850;
}
.fake-accordion 
{
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  margin-bottom: 1px;
}

.active-fake-accordion, .fake-accordion:hover 
{
  color: #0894FE;
  border-bottom: 1px solid #0894FE;
}

.fake-accordion:after {
  content: '\002B';
  color:#0894FE;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.fake-active-accordion:after {
  content: "\2212";
}

/* Barra inferior de propiedad certificada*/
.sticky-info
{
  background-color: white;
  height: 60px;
  position: fixed;
  bottom: -60px;
  left: 0;
  right: 0;
  box-shadow: 0 0 6px rgba(1,45,38,.2);
  transition: bottom 0.3s;
}
.tag-icon
{
  background-image: url(./svg/tag.svg);
  background-repeat: no-repeat;
  left: 0;
  text-indent: 40px;
}
.boton-contacto
{
  background-color: #0894FE;
  color: white;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  text-align: center;
  padding: 10px 15px;
}
.whatsapp
{
  background-image: url(./svg/whatsapp_icon.svg);
  background-repeat: no-repeat;
  align-items: center;
}

/*-- Clases para localidades del mapa---*/
.burbuja
{
  width:45px;
  height: 45px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  display: -webkit-flex; /* Safari */
  justify-content: center;
}
.mapa
{
  height: 300px; 
  margin: 50px 5% 50px 5%;
}
.big-titles
{
  text-align: center;
  margin-top: 50px ; 
  color:#0894FE; 
  font-size:1.5em;
  font-weight:bold;
  display: block;
}

/*----------- CLASES PARA EL CARRUSEL DE PROPIEDADES SUGERIDAS------------*/

.carrusel-container
{
  display: flex;
  display: -webkit-flex; /* Safari */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper 
{
  width: 100%;
  max-width: 964px;
  position: relative;
}

.carousel 
{
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar 
{
  height: 0;
}

#prev,
#next {
  display: flex;
  display: -webkit-flex; /* Safari */
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

/*--------------------- Clases de los Atlas Cards--------------------*/

.image-card
{
    height: 170px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.top-text 
{
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    font-size: 16px;
}
.atlas-card
{
    height: 290px;
    width: 350px;
    margin:.7em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
    padding: none;
    overflow: hidden;
}
.atlas-card:hover 
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.titulo-propiedades
{
    font:"Forma DJR Text Edu" medium 16px;
    color: #0048CD;
    text-align: left;
}
.space-between
{
    justify-content: space-between;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-flow: row wrap;
    align-items: center;
}
.corazon-right 
{
    position: absolute;
    top: 8px;
    right: 16px;
    height: 20px;
    cursor: pointer;
}
.share-right 
{
    position: absolute;
    top: 8px;
    right: 50px;
    height: 20px;
    cursor: pointer;
}
/* Caption text */
.text-number {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/*-------- CLASES PARA EL ORDEN DE LOS ELEMENTOS --------------*/
/* Safari 6.1+ */
#titulo-propiedad {-webkit-order: 1;}


/* Standard syntax */
#titulo-propiedad  {order: 1;}

/*--------INICIA DECLARACIONES PARA RESPONSIVE DESIGN-----------*/
@media screen and (max-width: 1350px)
{
  .carousel-tabs 
  {
  scrollbar-width: 10px;
  }

  .carousel-tabs::-webkit-scrollbar 
  {
  height: 10px;
  background-color: #F2F2F2
  }

}