.titulo-inmueble
{
    height: 120px;
    width: 100%;
    margin:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 30px;
    overflow: hidden;
}
.titulo-propiedades
{
    font:"Forma DJR Text Edu" medium 16px;
    color: #0048CD;
    text-align: left;
}
.space-between
{
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}