.body
{
    margin: 0 !important;
    box-sizing: border-box !important;
}
.titulo-inmueble
{
    height: 140px;
    width: 90%;
    margin: 30px 5% 30px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    overflow: hidden;
}

.titulo-inmueble>h2
{
    margin: 5px 0 5px 0;
}
.titulo-propiedades
{
    font:"Forma DJR Text Edu" medium ;
    color: #0048CD;
    text-align: left;
}
.space-between
{
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.text-t
{
    font-family:"Forma DJR Text Edu";
    color: #6F7A88;
    font-size: 16px;
}