.body
{
    margin: 0 !important;
    box-sizing: border-box !important;
}
.titulo-inmueble
{
    min-height: 80px;
    width: 90%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 10px 20px 10px 30px;
    overflow: hidden;
    border: 1px solid #0894FE;
}

.titulo-inmueble>h2
{
    margin: 5px 0 5px 0;
}
.titulo-propiedades
{
    font:"Forma DJR Text Edu" medium ;
    color: #0048CD;
    text-align: left;
}
.space-between
{
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.text-t
{
    font-family:"Forma DJR Text Edu";
    color: #6F7A88;
    font-size: 16px;
    padding: 5px;
}

/*------------------------------ MEDIA TABS -----------------------------------------*/
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content */
  .mediacontent {
    color: black;
    display: none;
    padding: 50px;
    text-align: center;
  }
  