

.wrapper-calendar {
  margin: 15px auto;
  max-width: 1100px;
  padding: 15px;
}

.container-calendar {
  background: #ffffff;
  padding: 0;
  max-width: 475px;
  margin: 0 auto;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  position: relative;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #0894FE;
  color: #fff;
  border: 1px solid  #0894FE;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td, .table-calendar th {
  padding: 10px;
  border: none;
  text-align: center;
  vertical-align: top;
  color: #6F7A88;
}

.date-picker.selected {
  font-weight: bold;
  background-color: #0894FE;
  color: white;
  border-radius: 8%;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

/* sunday */
.date-picker:nth-child(1) {
color: #6F7A88;
}

/* friday */
.date-picker:nth-child(6) {
color: #6F7A88;
}

#monthAndYear {
  text-align: center;
  margin: 0;
  background-color:  #2680EB;
  color: white;
  height: 50px;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #2680EB;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}

.month-jumps
{
  position: absolute; 
  top: 0;
  width: 50px;
  height: 50px;
  color: white;
  background-color: #2680EB;
  font-size: 20px;
}