.titulo-inmueble
{
    min-height: 80px;
    width: 90%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 10px 20px;
    overflow: hidden;

}


.titulo-inmueble>h2
{
    margin: 5px 0 5px 0;
}
.titulo-propiedades
{
    font:"Forma DJR Text Edu" medium ;
    color: #0048CD;
    text-align: left;
}
.space-between
{
    justify-content: space-between;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-flow: row wrap;
    align-items: center;
}
.text-t
{
    font-family:"Forma DJR Text Edu";
    color: #6F7A88;
    font-size: 16px;
    padding: 5px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #0894FE;
    border-radius: 50%;
    display: inline-block;
  }

.logo_empresa
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}