.titulo-inmueble
{
    min-height: 80px;
    width: 90%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 10px 20px;
    overflow: hidden;

}


.titulo-inmueble>h2
{
    margin: 5px 0 5px 0;
}
.titulo-propiedades
{
    font:"Forma DJR Text Edu" medium ;
    color: #0048CD;
    text-align: left;
}
.space-between
{
    justify-content: space-between;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-flow: row nowrap;
    align-items: center;
}
.text-t
{
    font-family:"Forma DJR Text Edu";
    color: #6F7A88;
    font-size: 16px;
    padding: 5px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #0894FE;
    border-radius: 50%;
    display: inline-block;
  }

.logo_empresa
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    vertical-align: middle;
    background-blend-mode: multiply;
    color: transparent;
    transition: all .3s ease;   
    cursor: pointer;
}
#upload_photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

 .info-card
 {
     height: 130px;
     width: 150px;
     margin:.7em;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     border-radius: 8px;
     padding: none;
     overflow: hidden;
     padding: 10px;
 }
.contenedor-beneficios
{
    display: flex; 
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
}
.card-container
{
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-around;
}
.icons
{
    height: 50px;
}
.cambiar_foto
{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height:20px; 
    background-color: white;
}
.dibujo
{
    width: 200px;
    height: 200px;
}

/*----------Clases de los accordiones ----------*/
.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    margin-bottom: 1px;
  }
  
  .active-accordion, .accordion:hover 
  {
    color: #0894FE;
    border-bottom: 1px solid #0894FE;
  }
  
  .accordion:after {
    content: '\002B';
    color:#0894FE;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active-accordion:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 20px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  } 

@media screen and (max-width: 1200px)
{
  
    .contenedor-beneficios
    {
        flex-flow: row wrap;
    }
    
    
}

@media screen and (max-width: 765px)
{
  
    .contenedor-beneficios
    {
        justify-content: space-around;
    }
    .text-align
    {
        text-align: center;
    }

    .atlas-card
    {
        width: 100%;
    }
    .card-container
    {
        flex-flow: row wrap;
    }
    .main-text
    {
        font-size: 45px;
        margin: 0 5%;
    }
    .dibujo
    {
        margin: 20px auto;
    }
    
}

@media screen and (max-width: 400px)
{
    .info-card
    {
        width: 250px;
    }
    .space-between
    {
        justify-content: center;
    }
}